.footer
{
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0.25em;
    padding-left:10px;
    padding-right:0.25em;
    margin-top:0.25em;
    display: flex;
}
.messagebox
{
    padding: 35px;
    overflow-y: auto;
}
.speech-bubble { 
    position: relative;
    border-radius: .4em;
    clear: both;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1rem;
}
.speech-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-top: 0;
    margin-top: -10px;
}
.speech-bubble-system {
    position: relative;
    background: #02beff;
    border-radius: .4em;
    text-align: left;
    width: auto;
    float: left;
    clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
}
.speech-bubble-system:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-right-color: #02beff;
    border-left: 0;
    border-top: 0;
    margin-top: -10.5px;
    margin-left: -21px;
}
.speech-bubble-user {
    position: relative;
    background: #eeeeee;
    border-radius: .4em;
    text-align: right;
    float: right;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}
.speech-bubble-user:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left-color: #eeeeee;
    border-right: 0;
    border-top: 0;
    margin-top: -10.5px;
    margin-right: -21px;
}
.system {
    background: #E5E5EA;  
    text-align: left;
    float: left;
}
.system:after {
    left: 0;
    border-right-color: #E5E5EA;
    border-left: 0;
    margin-left: -20px;
}
.user {
    background: #ccf2ff;
    text-align: right;
    float: right;
}
.user:after {
    right: 0;
    border-left-color: #ccf2ff;
    border-right: 0;
    margin-right: -20px;
}
.message {
    padding: 0.5em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.systemMsg {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: .4em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion-button {
    padding: 0.75em;
}