{% extends 'base.html' %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () { 
            let renameModal = document.getElementById('renameModal');
            renameModal.addEventListener('show.bs.modal', (event) => {
                // Button that triggered the modal
                var button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                var recipient = button.getAttribute('data-bs-rename-url');
                // Update the modal's content.
                var modalBodyInput = renameModal.querySelector("#renameForm");
                modalBodyInput.action = recipient;
            });
        });

        function rename(event){
            console.log("RENAME");
            document.getElementById("renameForm").submit();
        }
    </script>
{% endblock %}

{% block content %}
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="renameForm" action="" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLabel">Rename Dialog Graph</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <label for="exampleFormControlInput1" class="form-label">New Name</label>
                <input type="text" class="form-control" name="newName" placeholder="new name...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="rename()">Rename</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div style="display: flex; flex-direction: column; width: 75vw; display: block; margin-left: auto; margin-right: auto; margin-top: 5vh;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope=="col"># of Nodes</th>
                <th scope="col">Sharable Link to Chat</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for graph in graphs %}
            <tr> 
                <td style="max-width: 25vw;">{{ graph.name }}</td>
                <td>{{ graph.nodes.count }}</td>
                <td><a href="{% url 'chat' %}?graphId={{graph.uuid}}">Link</a></td>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <form action="{% url 'edit_graph' %}?graphId={{graph.uuid}}&user={{user.pk}}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" style="margin: 5px" >Edit Graph</button>
                        </form>
                        <button class="btn btn-secondary" data-bs-rename-url="{% url 'rename_graph' graphId=graph.uuid %}" data-bs-toggle="modal" data-bs-target="#renameModal" style="margin: 5px">Rename</button>
                        <form action="{% url 'delete_graph' graphId=graph.uuid %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" style="margin: 5px">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    Count: 
    {% if user.graphs.count < 10 %}
        <a class="btn btn-success" href="{% url 'create_graph' %}" role='button' aria-disabled="false" style="width:200px; display: block; margin-left: auto; margin-right:auto">Create a new graph</a>
    {% else %}
        <b>Max. 10 graphs per user allowed, please delete a graph before creating a new one.</b>
    {% endif %}
</div>
{% endblock %}