aioconsole==0.8.1
psycopg2-binary==2.9.10
attrs==25.1.0
autobahn [asyncio,serialization] ==24.4.2
crispy-bootstrap5==0.7
Django==5.1.6
django-crispy-forms==2.3
django-cors-headers==4.7.0
lark==1.2.2.
pandas==2.2.3
sentence-transformers==3.4.1